OLLAMA_ENDPOINT=http://localhost:11434/api/generate
MONGODB_URI=mongodb://localhost:27017/kowasp
#MONGODB_URI=mongodb://root:example@localhost:27017/kowasp # Comment the above line and uncomment this line if you are using Docker MongoDB
JWT_SECRET=supersecretkey
